* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;

}

.principal {
  display: flex;
  width: 100%;
  position: relative;
  overflow: hidden;
justify-content: center;


}

img {
  width: 100vw;
  height: 100vh;
  background-size: cover;
}

#saludos {
  
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 5vw;


  display: flex;
  position: absolute;
  width: auto;
  height: auto;
  text-align: center;
  margin-top: 50vh;

  color: gold;
  font-size: 2em;
  font-style: italic;
  text-shadow: 0px 2px goldenrod;
  visibility: hidden;
  
}


@media(orientation:landscape) {
  .principal {
    width: 40vw;
  }


}
